Package: me.pr0crustes.smoothtable
Name: SmoothTable
Depends: mobilesubstrate, preferenceloader
Version: 1.0.0
Architecture: iphoneos-arm
Description: Make TableViews great and smooth!
Maintainer: pr0crustes
Author: pr0crustes
Section: Tweaks
Depiction: https://pr0crustes.github.io/repo/depictions/?p=me.pr0crustes.smoothtable
